# Application
APP_ENV=development

# Backend
API_HOST=0.0.0.0
API_PORT=8000

# Machine Learning
MODEL_PATH=models/phishing_model.pkl
VECTORIZER_PATH=models/tfidf_vectorizer.pkl

# Frontend
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_URL=

# Security
SECRET_KEY=
